version: '3.9'
name: tp0
services:
  server:
    container_name: server
    image: server:latest
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - LOGGING_LEVEL=DEBUG
    networks:
      - testing_net
    volumes:
      - ./server/config.ini:/config.ini:ro

  {% for i in range(1, num_clients + 1) %}
  client{{ i }}:
    container_name: client{{ i }}
    image: client:latest
    entrypoint: /client
    environment:
      - CLI_ID={{ i }}
      - CLI_SERVER_ADDRESS=server:12345
      - CLI_LOOP_LAPSE=1m2s
      - CLI_LOG_LEVEL=DEBUG
      - FIRST_NAME=John
      - LAST_NAME=Doe
      - ID=1234
      - BIRTH_DATE=1999-01-01
    networks:
      - testing_net
    depends_on:
      - server
    volumes:
      - ./client/config.yaml:/config.yaml:ro
      - ./.data/datasets/dataset-{{ ((i - 1) % 5) + 1 }}.csv:/data/contestants.csv:ro
  {% endfor %}

networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
